*{
    margin: 0px;
}
.body{
    background-color: cadetblue;
    text-align: center;
  
}
.all-lists{
    background-color: rgb(67, 114, 116);
    height: 40vh;
    width: 40vw;
    position: absolute;
    left: 50px;
    padding:20px;
  
}
.active-list{
    font-weight: bold;
}

.current-list{
    height: 40vh;
    width: 40vw;
    background-color: wheat;
    position: absolute;
    right: 50px;
    padding:20px;

}