*{
    margin: 0px;
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
.body{
   background-color: rgb(74, 122, 106);


    /* text-align: center; */
  
}
.page-title{
    text-align: center;
    padding: 5px;
    width: 100vw;
}
.left{
    background-color: rgb(147, 152, 152);
    height: 100vh;
    width:35%;
    /* min-width:500px; */
    position: absolute;
    left: 0px;
    padding:10px;
    
  
}
.list-container{
    
    width: 25vw;
    min-width: 200px;
    height: 25vh;
    padding: 10px;
    margin: 4%;
  
}
#active-list{
    font-weight: bold;
}
.task-list-title{
    background-color: rgb(74, 130, 133);
    width:25%;
    min-width: 100px;
    padding: 5px;
    text-align: center;
   
}

.right{
    height: 100vh;
    width: 64%;
  
    background-color: rgb(165, 172, 172);
    position: absolute;
    right: -10px;
    margin: 0px;

}

.current-list{
    height: 38vh;
    width: 30vw;
    min-width: 300px;
    background-color: rgb(242, 158, 12);
 
    padding:6px;
    margin: 40px; 
    border-radius: 10px;

}


.task-count{
    font-size: 13px;
    margin: auto;
}
.list-tasks{
   width: 75px;
   /* border:1px solid black; */
   padding: 10px;
   margin: 10px;
   
}
.current-header{
     display: flex;
    flex-direction: row;
   
}