/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*{
  margin: 0px;
  font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.body{
 background-color: rgb(74, 122, 106);


 

}
.page-title{
  text-align: center;
  padding: 5px;
  width: 100vw;

}
.left{
  background-color: rgb(147, 152, 152);
  height: 100vh;
  width:35%;
  /* min-width:500px; */
  position: absolute;
  left: 0px;
  padding:10px;
  

}
.list-container{
  
  width: 25vw;
  min-width: 200px;
  height: 25vh;
  padding: 10px;
  margin: 4%;

}
#active-list{
  font-weight: bold;
}
.task-list-title{
  background-color: rgb(74, 130, 133);
  width:25%;
  min-width: 100px;
  padding: 5px;
  text-align: center;
 
}

.right{
  height: 100vh;
  width: 65%;


  background-color: rgb(165, 172, 172);
  position: absolute;
  right: -10px;
  /* margin: 0; */

}



.new-list:focus{
  border-bottom-width: 3px;
}
.plus-button{
  cursor: pointer;
  background:0;
  padding: 0;
  border: 0;

  color:inherit;
  font-size: 1.25rem;
  transition: transform .7s ease-in-out;
}
.plus-button:hover{
  opacity: .5;
transform: rotate(-90deg) ;
}


.task-count{
  font-size: 13px;
  margin: auto;
}

.each-task{
padding: 3px;

}

.item{
  margin-left: 4px;
}
.current-list{
  height: fit-content;
  width: 30vw;
  min-width: 300px;
  background-color: rgb(242, 158, 12);
  /* padding: 15px; */
  padding-bottom:20px;
  margin: 20px; 
  border-radius: 10px;
  --spacer:1em;

}
.current-header{
   display: flex;
  flex-direction: row;
  padding:var(--spacer);
  margin: 0px;
  background-color:  rgb(114, 75, 8);
  border-radius: 10px 10px 0 0 ;
  
 
}
.list-tasks{
 
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  padding:var(--spacer);
  
 }
 .new-list{
  background: transparent;
  border: 0;
  color:inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;
  padding:var(--spacer);
  transition: border-bottom 250ms ease-in;
}
.clear-button{
  background-color: rgb(164, 103, 103);
  margin: 10px;
  padding: 5px;
  border: 0;
  border-radius: 5px;
}
.clear-button:hover{
  opacity: .5;
  background-color: rgb(164, 103, 103);
}
.del-button{
  background-color: rgb(146, 146, 216);
  margin: 10px;
  padding: 5px;


  border: 0;
  border-radius: 5px;


}
.del-button:hover{
  opacity: .5;
  background-color: rgb(146, 146, 216);
}