
*{
  margin: 0px;
  font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.body{
 background-color: rgb(94, 105, 101);


}
.page-title{
  text-align: center;
  padding: 6px;
  width: 100vw;
/* display: flex;
justify-content: center; */
margin-left: 25px;

}

#active-list{
  font-weight: bold;
}

.right{
  height: 100vh;
  width: 100vw;
  background-color: rgb(135, 158, 158);
/* display: flex;
align-items: center; */

}

.task-text{
font-weight: 500;
}


.item{
  margin-left: 5px;
}
.edit-del-buttons{
  margin-left: 5px;
  border-radius: 5px;
  border: 0;
}
.edit-del-buttons:hover{
  background-color: rgb(103, 98, 93);
  color: rgb(209, 209, 202);
 
}

.todo-app{
    height: fit-content;
    min-height: 35vh;
    width: 40vw;
   
    background-color: rgba(195, 193, 147, 0.7);
    text-align: center;
    margin-left: 33%;
    margin-top: 4%;
    border-radius: 10px;
    padding-bottom: 2px; 
    display: inline-block;
    border: 2px solid rgb(155, 157, 129);


}
.plus-button{
  /* background-color: currentColor; */
  border: 0;
}
.task-input{
  background:  rgb(223, 204, 146);;
  border:none;
}
.task-input-edit{
  background:  rgb(228, 220, 199);;
  border:none;

}

.current-header{
  
  padding:10px;
  text-align: center;
  background-color:  rgba(174, 158, 108, 0.7);
  border-radius: 10px 10px 0 0 ;
  

}
.list-tasks{
 
  padding: 2px;
  
  margin: 10px;
 

 }
 .task-list{
   /* border: 1px solid black; */
  
 height: fit-content;
  /* display: flex;
  justify-content: center;
 flex-direction: column; */

  border-radius: 20px;
 }
 
/* .complete{
  color:red;


} */
p::selection{
  color: red;
}




