
*{
  margin: 0px;
  font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.body{
 background-color: rgb(74, 122, 106);

}
.page-title{
  text-align: center;
  padding: 6px;
  width: 100vw;

}
.left{
  background-color: rgb(147, 152, 152);
  height: 100vh;
  width:35%;
  /* min-width:500px; */
  position: absolute;
  left: 0px;
  padding:10px;
  

}
.list-container{
  
  width: 25vw;
  min-width: 600px;
  height: 25vh;
  padding: 10px;
  margin: 40px;

}
#active-list{
  font-weight: bold;
}
.task-list-title{
  background-color: rgb(74, 130, 133);
  width:25%;
  min-width: 100px;
  padding: 5px;
  text-align: center;
 
}

.right{
  height: 100vh;
  width: 65%;
  background-color: rgb(165, 172, 172);
  position: absolute;
  right: -10px;
 
}



.plus-button{
  cursor: pointer;
  background:0;
  padding: 0;
  border: 0;

  color:inherit;
  font-size: 1.25rem;
  transition: transform .7s ease-in-out;

}
.plus-button:hover{
  opacity: .5;
  transform: rotate(90deg) ;
  transform-origin: center;
}


.task-count{
  font-size: 13px;
  margin: auto;
}

.each-task{
padding: 3px;
position: relative;

}

.item{
  margin-left: 4px;
}

.current-list{
  height: fit-content;
  width: 30vw;
  min-width: 300px;
  background-color: rgba(227, 209, 142, 0.7);
  padding-bottom:10px;
  margin:20px;
  border-radius: 10px;
  --spacer:1em;

}

.current-header{
   display: flex;
  flex-direction: row;
  padding:var(--spacer);
  margin: 0px;
  background-color:  rgba(174, 158, 108, 0.7);
  border-radius: 10px 10px 0 0 ;
  
 
}
.list-tasks{
 
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  padding:var(--spacer);
  
 }

 .new-list{
  background: transparent;
  border: 0;
  color:inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;
  padding:5px;
  transition: border-bottom 250ms ease-in;
}
.new-list:focus{
  border-bottom-width: 2px;
}

[type='checkbox']{
  opacity: 0;
  position: absolute;

}

.each-task label{
  display: inline-flex;
  align-items: center;
  position: relative;
}

.each-task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -.15em;
  height: 1px;
  
  background: currentColor;
  opacity: 0.3;
}
.each-task label::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  left:1.5em;
  height: 1px;
  
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 150ms ease-in-out;
}

[type='checkbox']:checked + label::after{
  transform: scaleX(1);
  transform-origin: left;
  
}
.custom-checkbox{
 --size:.65em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border: 1.5px solid currentColor;
  border-radius: 50%;
  margin-right: .5rem;
  transform:scale(1);
  transition: transform 400ms ease-in-out ;

}
.each-task:hover .custom-checkbox{
  transform: scale(1.25);
}
.list-name:hover{
  font-weight: bold;
}
[type='checkbox']:checked + label .custom-checkbox{
  background:black;
 box-shadow: inset 0 0 0 2px   rgba(227, 209, 142, 0.7) ;


}
[type='checkbox']:checked + label{
  opacity: .65;
  
}


.clear-button{
  background-color: rgb(164, 103, 103);
  margin: 10px;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  margin-left: 25px;
}
.clear-button:hover{
  opacity: .5;
  background-color: rgb(164, 103, 103);
}
.del-button{
  background-color: rgb(146, 146, 216);
  margin: 10px;
  padding: 5px;
  border: 0;
  border-radius: 5px;


}
.del-button:hover{
  opacity: .5;
  background-color: rgb(146, 146, 216);
}
.task-bar{
  margin-left: 20px;

  
}
 .delete-stuff{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  right: 10px;
  
 }