
*{
  margin: 0px;
  font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.body{
 background-color: rgb(78, 96, 90);


}
.page-title{
  text-align: center;
  padding: 6px;
  width: 100vw;
/* display: flex;
justify-content: center; */
margin-left: 25px;

}

#active-list{
  font-weight: bold;
}

.right{
  height: 100vh;
  width: 100vw;
  background-color: rgb(54, 64, 64);
/* display: flex;
align-items: center; */

}

.task-text{
font-weight: 500;
}


.item{
  margin: 5px;
  display: flex;
  justify-content: center;

}
.edit-del-buttons{
  margin-left: 5px;
  border-radius: 3px;
  border: 0;
  background-color: rgb(203, 211, 217);
  
}
.edit-del-buttons:hover{
  background-color: rgb(87, 85, 81);
  color: rgb(230, 230, 213);
 
}

.todo-app{
    height: fit-content;
    min-height: 35vh;
    width: 40vw;
   
    background-color: rgba(215, 215, 167, 0.7);
    text-align: center;
    margin-left: 33%;
    margin-top: 4%;
    border-radius: 10px;
    padding-bottom: 2px; 
    display: inline-block;
    border: 2px solid rgb(155, 157, 129);


}
.plus-button{
  /* background-color: currentColor; */
  border: 0;
}
.task-input{
  background:  rgb(204, 204, 201);;
  border:none;
  padding: 2px;
}
.task-input-edit{
  background:  rgb(228, 220, 199);;
  border:none;

}

.current-header{
  
  padding:10px;
  text-align: center;
  background-color:  rgba(174, 158, 108, 0.7);
  border-radius: 10px 10px 0 0 ;
  

}
.list-tasks{
 
  padding: 2px;
  
  margin: 10px;
 

 }
 .task-list{
   /* border: 1px solid black; */
  
 height: fit-content;
 

  border-radius: 20px;
 }
 
/* .complete{
  color:red;


} */
p::selection{
  color: red;
}




